#work-section{
	width: 100%;
	height: 100%;
	.bg-container{
		div{
			width: 100%;
			height: 100%;
		}
		div.hidden{
			display: none;
		}
		width: 100%;
		height: 100%;
		position: absolute;
		top:0;
		left:0;
		
		// img{
		// 	position: absolute;
		// 	top:0;
		// 	left:0;
		// 	@include transition(opacity 600ms);
		// 	opacity: 0;
		// 	&.selected{
		// 		opacity: 1;
		// 	}
		// }
		.labOpts{
			.bg{
				&.one{
					background-image: url('../assets/images/comingsoon.jpg');
				}
			}
		}
		.bg{
			position: absolute;
			top:0;
			left:0;
			@include transition(opacity 600ms);
			opacity: 0;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%; height: 100%;

			&.selected{
				opacity: 1;
			}
			&.one{
				background-image: url('../assets/images/cfm_featured.jpg');
			}
			&.two{
				background-image: url('../assets/images/g2_featured.jpg');
			}
			&.three{
				background-image: url('../assets/images/carhartt_featured.jpg');
			}
			&.four{
				background-image: url('../assets/images/carhartt_featured.jpg');
			}
			&.five{
				background-image: url('../assets/images/monarch_featured.jpg');
			}
		}
	}
	.selector-container{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.2);
		.project-container{
			&.hidden{
				display: none;
			}
		}
		.project-container{	
			width: 100%;
			// height: 100%;
			height: 80%;
			transform: translateY(-50%);
			top: 50%;
			overflow: scroll;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			.project{
				cursor: pointer;
				margin: 30rem auto;
				h1,p{
					text-align: center;
					margin: 0;
				}

				p{
					letter-spacing: 1rem;
				}
				.index{
					position: absolute;
					left: -20rem;
					top: -5rem;
					font-weight: bold;
					font-family: KelsonSans, $font-stack;
				}
				.tag{
					position: absolute;
					top: -5rem;
					left: 100%;
					font-size: 14rem;
					margin: 0;
					margin-left: 10rem;
					letter-spacing: 1rem;
				}
				.name{
					//-webkit-text-fill-color: red;
					color: transparent;
					-webkit-text-stroke-width: 1px;
					-webkit-text-stroke-color: white;
					letter-spacing: 3rem;
					font-size: 60rem;
					@include transition( font-size 400ms, color 400ms);
				}
				&:hover{
					.name{
						//text-fill-color: red;
						font-size: 65rem;
					}
				}
				&.selected{
					.name{
						//text-fill-color: red;
						font-size: 63rem;
						color: white;
						-webkit-text-stroke-width: 0px;
					}
				}
			}
		}
	}
	.work-type{
		position: absolute;
		left: 80rem;
		bottom: 60rem;
		.container{
			position: absolute;
			bottom: 0;
			left: 0;
			white-space: nowrap;
			.opt{
				cursor: pointer;
				display: inline-block;
				font-size: 13rem;
				margin: 0;
				margin-right: 30rem;
				letter-spacing: 4rem;
				
				&.selected{
					&::after, &:after{
						content: " ";
						@include transform(translate(-50%, -50%));
						width: 80%;
						position: absolute;
						bottom: -5rem;
						left: 48%;
						background-color: white;
						height: 1rem;
					} 
				}
			}
		}
	}
	@media (min-width: 320px) and (max-width: 740px){
		.bg-container{
			.bg{
				&.one{
					background-image: url('../assets/images/cfm_featured_mobile.jpg');
				}
			}
		}
		.selector-container{
	
			.project-container{	
				.project{
					
					.name{
						font-size: 35rem;
					}
					.tag{
						display: none;
					}
					&.selected{
						.name{
							font-size: 40rem;
						}
					}
				}
			}
		}
		.work-type{
			//@include transform(translateX(-50%));
			left: 50%;
			bottom: 40rem;
			.container.rotated{
				@include transform(translateX(-50%));
				.opt{
					margin: 0 10rem;
				}
			}
		}
	}
}