$font-stack: Helvetica, sans-serif;
$tittle-color: #fff;
$mainfontsize: 13pt;
$width:100%;

*{
	box-sizing: border-box;
}
html{
	font-size: 1px;
}

body{
	font: 100% $font-stack;
	font-size: 14rem;
	color: black;
	margin: 0px;
	padding: 0px;
	a{
		text-decoration: none;
		color: black;
	}
}
