#about-section.section.scrollable.hidden
    .cornerImage
            img(src="./assets/images/about_corner_photo.png", alt="")
    .content
        .aboutText
            .lineTitle
                h1 About Us
            p.highligh.
                We are a full service augmented reality and virtual reality studio based in San Luis Obispo, California with development offices in Cali, Colombia.
            p.copy.
                With over 40 years of combined real time development experience, we serve a multitude of clients in a myriad of industries, who want to and now, need to, take advantage of the new and interesting ways in which AR and VR can help their businesses evolve. From curious and fun AR/VR applications to complex 3D simulations, we are able to set you apart from your competition.
        
        .team-container
            .lineTitle
                h1 The Team
            .leftPhotos
                .team
                    img(src="./assets/images/enrique_team.jpg", alt="Enrique - CEO")
                    .detail
                        p.name Enrique Sanchez-Rivera
                        p.position Chief Executive Officer
                        p.position.short CEO
                .team
                    img(src="./assets/images/mauro_team.jpg", alt="Mauricio - CAD")
                    .detail
                        p.name Mauricio Fernandez M.
                        p.position Art Director
                        p.position.short AD
            .rightPhotos
                .team
                    img(src="./assets/images/kammil_team.jpg", alt="Kammil - CCD")
                    .detail
                        p.name Kammil S. Carranza
                        p.position Chief Creative Director
                        p.position.short CCD
                .team
                    img(src="./assets/images/ramon_team.jpg", alt="Ramon - CTO")
                    .detail
                        p.name Juan C. Ramon
                        p.position Chief Technology Officer
                        p.position.short CTO
        .services-container
            .lineTitle
                h1 Services
            .service.ar
                figure.icon
                    img(src="./assets/images/icon_ar.svg", alt="ar services")
                h2.highligh Augmented Reality
                p.copy.
                    Whether you need to augment your clothing label’s hang tag, create a complex 3D environment for an event, or have us build a training tool for your company’s engineers, we have the talent and excitement to deliver a perfectly functioning project on time.
            .service.vr
                figure.icon
                    img(src="./assets/images/icon_vr.svg", alt="vr services")
                h2.highligh Virtual Reality
                p.copy.
                    We are experts at creating impressive and accurate virtual environments. From real time architectural renderings to complex fictional worlds, we are able to develop immersive visual surroundings that captivate even the most discerning eyes and minds.
        .links
            a.opt.menu-work(href="#work") See Our Work
            a.opt.menu-contact(href="#contact") Contact Us

        .social
            a.sn.facebook(href="https://www.facebook.com/augmentedislandstudios/?ref=br_rs" target="_blank") Facebook
            a.sn.instagram(href="https://www.instagram.com/augmentedislandstudios/?hl=en" target="_blank") Instagram
            a.sn.linkedin(href="https://www.linkedin.com/company/augmented-island-studios/" target="_blank") Linkedin