#about-section.section
    .content
        .aboutText
            p.highligh.
                We are a full service augmented reality and virtual reality studio based in San Luis Obispo, California with development offices in Cali, Colombia.
            p.copy.
                With over 40 years of combined real time development experience, we serve a multitude of clients in a myriad of industries, who want to and now, need to, take advantage of the new and interesting ways in which AR and VR can help their businesses evolve. From curious and fun AR/VR applications to complex 3D simulations, we are able to set you apart from your competition.
            h1.lineTitle About Us
        
        .teamPhotos
            h1.lineTitle The Team
            .leftPhotos
                .team
                    img(src="../assets/images/ais_team_.png", alt="Enrique - CEO")
                .team
                    img(src="../assets/images/ais_team_.png", alt="Mauricio - CAD")
            .rightPhotos
                .team
                    img(src="../assets/images/ais_team_.png", alt="Kammil - CCD")
                .team
                    img(src="../assets/images/ais_team_.png", alt="Ramon - CTO")
    
        .links
            a.opt.menu-work(href="#") See Our Work
            a.opt.menu-contact(href="#") Contact Us

        .social
            a.sn.facebook(href="https://www.facebook.com/augmentedislandstudios/?ref=br_rs" target="_blank") Facebook
            a.sn.instagram(href="https://www.instagram.com/augmentedislandstudios/?hl=en" target="_blank") Instagram
            a.sn.linkedin(href="https://www.linkedin.com/company/augmented-island-studios/" target="_blank") Linkedin