#contact-section.section.overlay
	.content
		.wrapper
			.lineTitle
				h1 About Us
			.form-container
				p.copy.
					Get in touch and we'll get back to you as soon as we can. We look forward to hearing from you!
				form
					span.customInput
						input(type="text" name="name" required placeholder="Name*")
					span.customInput
						input(type="email" name="email" required placeholder="Email*")
					span.customInput
						textarea(name="message" required placeholder="Message*")

					//- span.customInput
					//- 	input(type="text" name="name")