#contact-section.section.overlay
	.content
		.wrapper
			.lineTitle
				h1 About Us
			.form-container
				p.copy.
					Get in touch and we'll get back to you as soon as we can. We look forward to hearing from you!
				form
					span.inputContainer
						input(type="text" name="name" required placeholder="Name*")
					span.inputContainer
						input(type="email" name="email" required placeholder="Email*")
					span.inputContainer
						textarea(name="message" required placeholder="Message*")
					br
					br
					span.inputContainer
						input(type="text" name="funfact" placeholder="Funfact!")
					
					input(type="submit" value="SEND")