#contact-section.section.overlay.hidden
	.content
		.wrapper
			.lineTitle
				h1 Contact us
			.form-container
				p.copy.
					Get in touch and we'll get back to you as soon as we can. We look forward to hearing from you!
				form#contactForm
					span.inputContainer
						input(type="text" name="name" required placeholder="Name*")
					span.inputContainer
						input(type="email" name="email" required placeholder="Email*")
					span.inputContainer
						textarea(name="message" required placeholder="Message*")
					br
					br
					span.inputContainer
						input(type="tel" name="phone" placeholder="Phone: +1 888 888 8888"  minlength="10" maxlength="14" title="Phone number")
						
					input.submitBtn(type="submit" value="SEND")