#landing-section.section
	.content
		.feature-work
			.info-wrapper
				.index
					.line
					.line
					.line
				.titles
					h3.tag Featured work
					h1.name Come Find Me
					h1.client / Terry Crews
				.linkToStudy
					.line
					a.link(href="#") View Case Study
						.arrow
							img(src="./assets/images/icon_arrow.svg", alt="")
			//img(src="/assets/images/placeholder_image.png")