#landing-section.section.hidden
	.content
		.feature-work
			.info-wrapper
				.index
					.line
					.line
					.line
				.titles
					h3.tag Featured work
					h1.name Augmented Wine Cover
					h1.client / Wine Enthusiast
				.linkToStudy
					.line
					a.link(href="#wineEnthusiast") View Case Study
						.arrow
							img(src="./assets/images/icon_arrow.svg", alt="")
			//img(src="/assets/images/placeholder_image.jpg")