.menu
	.options
		.opt.menu-work Work
		.opt.menu-lab Lab
		.opt.menu-blog Blog
		.opt.menu-about About
	.social
		.container
			a.sn.facebook(href="https://www.facebook.com/augmentedislandstudios/?ref=br_rs" target="_blank") Facebook
			a.sn.instagram(href="https://www.instagram.com/augmentedislandstudios/?hl=en" target="_blank") Instagram
			a.sn.linkedin(href="https://www.linkedin.com/company/augmented-island-studios/" target="_blank") Linkedin