.menu.hidden
	.backgroundImage
		img(src="/assets/images/bg_image.svg", alt="")
	.options
		a.opt.menu-work(href="#") Work
		a.opt.menu-lab(href="#") Lab
		a.opt.menu-blog(href="#") Blog
		a.opt.menu-about(href="#") About
	.social
		.container
			a.sn.facebook(href="https://www.facebook.com/augmentedislandstudios/?ref=br_rs" target="_blank") Facebook
			a.sn.instagram(href="https://www.instagram.com/augmentedislandstudios/?hl=en" target="_blank") Instagram
			a.sn.linkedin(href="https://www.linkedin.com/company/augmented-island-studios/" target="_blank") Linkedin