#monarch.work-detail.section.hidden
	.content
		.contentWrapper
			.projectLogo
				img(src="./assets/images/cfm_logo.svg", alt="")
			
			.copyWrapper
				h1.title Monarch AR
				h2.client Monar Reign Swimwear
				p.description.
					Celebrity fashion designer Ashley Busch, wife of famed NASCAR champion Kurt Busch, chose us to launch the first AR project for her new brand, Monarch Reign (www.monarchreign.com). The luxurious swim and accessories brand needed us to bring her logo to life in a beautiful and entertaining way. The color rich butterfly interaction, mixed with the subtle softness of their flight deliver a brand message like no other; one of thoughtful design and love for clean and interesting aesthetics.
			
			.photoWrapper
				img.workPhoto(src="./assets/images/monarch_7.jpg", alt="")
			
				.pair
					img.workPhoto.half(src="./assets/images/monarch_1.jpg", alt="")
					img.workPhoto.half(src="./assets/images/monarch_2.jpg", alt="")
				
				.pair
					img.workPhoto.half(src="./assets/images/monarch_4.jpg", alt="")
					img.workPhoto.half(src="./assets/images/monarch_5.jpg", alt="")
			
				//img.workPhoto(src="./assets/images/monarch_6.jpg", alt="")

			.goBack.btn
				.container.rotated
					h2 Go Back