#work-section.section
	.selector-container
		.project 
			.index 01
			h2.tag Featured
			h1.name Come Find Me
			p.client Terry Crew
			
		.project.selected 
			.index 02
			.tag
			h1.name Monarch AR
			p.client Monarch Reign
		.project 
			.index 03
			.tag
			h1.name Augmented Vineyard
			p.client Carhartt

	//- .work-container
	//- 	.work initial for debugging
	//- footer
	//- 	h3 	All rights reserved to Augmented Island Studios 2018