#come-find-me.work-detail.section.hidden
	.content
		.contentWrapper
			.projectLogo
				img(src="./assets/images/cfm_logo.svg", alt="")
			
			.copyWrapper
				h1.title Come Find Me
				h2.client Terry Crews
				p.description.
					Sharing a quote from our client Terry Crews: "20 years ago, 1995 to be exact, Ken Harvey and I were teammates on the NFL’s Washington Redskins. Ken came to me with a brilliant idea of a book he wrote for his two very young sons, Anthony and Marcus. The book was to be a first time reader, and feature the boys in an imaginative game of hide and seek.
			
			.photoWrapper
				img.workPhoto(src="./assets/images/placeholder_image.png", alt="")

			.goBack.btn
				.container.rotated
					h2 Go Back