#carhartt.work-detail.section.scrollable.hidden
	.content
		.contentWrapper
			.projectLogo
				//img(src="./assets/images/cfm_logo.svg", alt="")
			
			.copyWrapper
				h1.title Sangiovese AR
				h2.client Carhartt
				p.description.
					We partnered with the legendary Carhartt family and their beautiful winery, Carhartt Vineyard, to bring to life the first ever augmented reality wine application in Santa Barbara county. More specifically, in the beautiful Santa Ynez Valley. An idea surged within our company to change the wine tasting room experience and offer an innovative and informative application which could be enjoyed inside but also, outside the wine tasting room. A floating bottle of Sangiovese more than meets the eye.
			
			.photoWrapper
				img.workPhoto(src="./assets/images/carhartt_featured.jpg", alt="")
				img.workPhoto(src="./assets/images/carhartt_2.jpg", alt="")
				img.workPhoto(src="./assets/images/carhartt_3.jpg", alt="")
				img.workPhoto(src="./assets/images/carhartt_4.jpg", alt="")

			.goBack.btn
				.container.rotated
					h2 Go Back