#wineEnthusiast.work-detail.section.scrollable.hidden
	.content
		.contentWrapper
			.projectLogo
				//img(src="./assets/images/cfm_logo.svg", alt="")
			
			.copyWrapper
				h1.title Augmented Wine Cover
				h2.client Wine Enthusiast
				p.description.

					Wine Enthusiast Magazine contact us to build their first-ever Augmented Reality Cover, the task was to create a digital piece that would interact with the cover and a video they had designed for the May cover. We choose a scy-fi interface that bring the video to life, creating a 3D version of it that is displayed in different layers as comming out of the magazine, ending with a hollogram of the actual cover. Check Wine Enthusiast article <a href="www.enth.to/2JZNeBU" target="_blank">here</a> 
			
			.photoWrapper
				video(controls)
					source(src="./assets/media/we_wip_ar.mp4" type="video/mp4")
					Your browser does not support the video tag.

				.pair
					.external.small
						img.workPhoto(src="./assets/images/we_cover_ar.jpg", alt="Wine Enthusiast cover")
						span Cover provided by Wine Enthusiast
			
					video(controls).half
						source(src="./assets/media/videoCapture.mp4" type="video/mp4" poster="./assets/images/we_video_cover.jpg")
						Your browser does not support the video tag.

				

			.goBack.btn
				.container.rotated
					h2 Go Back