#g2.work-detail.section.scrollable.hidden
	.content
		.contentWrapper
			.projectLogo
				//img(src="./assets/images/cfm_logo.svg", alt="")
			
			.copyWrapper
				h1.title J.Lo and Bad Bunny Video
				h2.client G2 Productions
				p.description.
					When G2 Productions reached out to us to create their first AR experience, they wanted an augmented reality easter egg that would take everyone by surprise at the end of each of the music videos they produced. The first music video we had to work with was Jennifer Lopez’s and Bad Bunny’s collaboration, “Te Gusté”. <br><br> We decided to elaborate a beautiful and shiny disco ball which has the ability to spin as the user swipes it with their finger. When the disco ball reaches a certain speed, it explodes, and confetti as well as G2’s logo and ours come out in real time 3D. To enjoy, watch “Te Gusté” and then at the end of the video, wait for the disco ball marker to come out. Pause the video and then launch the G2 Productions app. Point your device to the market and spin the disco ball!!			
			.photoWrapper
				img.workPhoto(src="./assets/images/g2_featured.jpg", alt="")
				img.workPhoto(src="./assets/images/g2_1.jpg", alt="")
				img.workPhoto(src="./assets/images/g2_2.jpg", alt="")
				img.workPhoto(src="./assets/images/g2_4.jpg", alt="")
				img.workPhoto(src="./assets/images/g2_5.jpg", alt="")

			.goBack.btn
				.container.rotated
					h2 Go Back