#work-section.section.hidden
	.content
		.bg-container
			.workOpts
				//- img.one(src="./assets/images/comefindme.jpg", alt="")
				//- img.two.selected(src="./assets/images/monarch.jpg", alt="")
				//- img.three(src="./assets/images/carhartt.jpg", alt="")
				.bg.one
				.bg.two.selected
				.bg.three
			.labOpts.hidden
				//img.one.selected(src="./assets/images/comingsoon.jpg", alt="")
				.bg.one.selected
		.selector-container
			.work-projects.project-container
				.project.one(data-link="#comefindme")
					.index 01
					h2.tag Featured
					h1.name Come Find Me
					p.client Terry Crews
					
				.project.two.selected(data-link="#monarch") 
					.index 02
					.tag
					h1.name Monarch AR
					p.client Monarch Reign
				.project.three(data-link="#carhartt") 
					.index 03
					.tag
					h1.name Sangiovese AR
					p.client Carhartt
			.lab-projects.project-container.hidden
				.project.one.selected
					.index 000
					h2.tag
					h1.name Coming soon
					p.client AR/VR/XR
		.work-type
			.container.rotated
				h2.opt.work-opt.selected Work
				h2.opt.lab-opt Lab
		//- .work-container
		//- 	.work initial for debugging
		//- footer
		//- 	h3 	All rights reserved to Augmented Island Studios 2018