doctype html
html(lang="en")
	head
		title= AIS
		link(href='./css/style.css', rel='stylesheet')
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		.body-wrapper
			include _fixed-ui.pug
			include _menu.pug
			include _work-carhartt.pug
		script(src='./js/index.js')
