doctype html
html(lang="en")
	head
		tittle= MyFirstApp
		link(href='/css/style.css', rel='stylesheet')

	body
		.content-wrapper
			.work-container
				.work initial for debugging
			footer
				h3 	All rights reserved to Augmented Island Studios 2018

		script(src='/js/index.js')
