doctype html
html(lang="en")
	head
		tittle= MyFirstApp
		link(href='/css/style.css', rel='stylesheet')
	body
		.content-wrapper
			footer
				h3 	All rights reserved to Augmented Island Studios 2018


