doctype html
html(lang="en")
	head
		title= AIS
		link(href='./css/style.css', rel='stylesheet')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
	body
		.body-wrapper
			include _fixed-ui.pug
			include _landing.pug
			include _work.pug
			include _about.pug
			include _menu.pug
			include _work-comefindme.pug
			include _work-carhartt.pug
			include _work-monarch.pug
			include _contact-overlay.pug
		script(src='./js/index.min.js')
