doctype html
html(lang="en")
	head
		title= AIS
		link(href='./css/style.css', rel='stylesheet')

	body
		.content-wrapper
			include _fixed-ui.pug
			include _landing.pug
			include _work.pug
			include _about.pug
			include _menu.pug
			include _work-comefindme.pug
		script(src='./js/index.js')
