doctype html
html(lang="en")
	head
		title= AIS
		link(href='./css/style.css', rel='stylesheet')

	body
		.body-wrapper
			include _fixed-ui.pug
			include _work.pug
			include _menu.pug
		script(src='./js/index.js')
